.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background: #0077b6;
}

.logo{
    height: 50px;
    width: 50px;
    padding: 5px;
}

.logo:hover{
    transform: scale(1.03);
}

.nav-bar{
    display: flex;
    margin: 0;
}

.nav-bar-a{
    display: flex;
    align-items: center;
    padding: 5px;
}

.nav-bar a{
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    transition: linear 80ms;
}

.nav-bar-a a:hover{
    transform: scale(1.03);
}

#button{
    display: flex;
    align-items: center;
    margin: 10px 10px;
    padding: 20px;
    background: #00b4d8;
    box-shadow: 3px 3px black;
    transition: linear 80ms;
}

#button:hover{
    transform: scale(1.01);
    box-shadow: none;
}

.nav-bar-a a::before{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    content: "";
    width: 5px;
    height: 5px;
    background: #00b4d8;
}

.banner-main{
    display: flex;
}

.banner-left{
    display: inline-flex;
    width: 60%;
    height: 600px;
    background-image: url(/assets/img/baixados\ \(1\).jpeg);
    border: solid #000;
}

.title{
    background-color: #0096c7;
    height: 200px;
    width: 450px;
    margin: 60px auto;
    box-shadow: #000 5px 5px;}

.title h1{
    display: flex;
    font-size: 30px;
    color: #fff;
    text-shadow: #000 2px 2px;
}

.title p{
    display: flex;
}

.banner-right{
    display: inline-flex;
    width: 40%;
    height: 600px;
    background-image: url(/assets/img/Pixel\ Art\ Mountainscape\ 1.jpeg);
    border: solid #000;
}